.char-div {
  --scaley: 2;
  --scalex: 2; }

.char-div {
  --colorbg:#FA4659;
  --colortx:#FA4659;
  --deg: 40deg;
  font-size: 75px;
  background: linear-gradient(var(--deg), transparent 50%, var(--colorbg) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: var(--colortx);
  -webkit-text-stroke-width: 2px;
  color: transparent; }
