* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

body {
    background: #e4ddd3;
    display: grid;
    font-family: Quicksand, sans-serif;
    font-weight: 600;
    grid-auto-flow: row;
    grid-auto-rows: 75px;
    grid-template-columns: repeat(auto-fill, 75px);
    justify-content: center;
    letter-spacing: 0.07rem;
    line-height: 2;
    overflow-x: hidden;
}

.site-footer {
    font-size: 1.2rem;
    color: $-keyboard-color;
    text-align: center;
}


