$-max-800: '(max-width: 800px)';
$-min-412: '(min-width: 412px)';
$-keyboard-bg-color: rgba(#f3cfa2, 0.8);
$-keyboard-color: #639;
$-placeholder-color: #fff;
$-input-color: #fff;
$-cubic-bezier: cubic-bezier(.87, -.41, .19, 1.44);
$-btn-bg-color: #fff;

/* stylelint-disable color-function-notation */
$-btn-bg-after-color: rgb(254, 111, 117);
$-btn-bg-before-color: #fff;