$max-800: '(max-width: 800px)';
$min-412: '(min-width: 412px)';

$keyboardBgColor: rgba(#f3cfa2, 0.8);
$keyboardColor: #663399;
$placeholderColor: #fff;
$inputColor: #fff;
$cubicBezier: cubic-bezier(.87, -.41, .19, 1.44);
$btnBgColor: rgba(255, 255, 255, 1);
$btnBgAfterColor: rgb(254, 111, 117);
$btnBgBeforeColor: #fff;